/*
@cryptpad_color_brand: #0087FF;
*/

html {
    font: 16px 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #212121;
    a {
        color: #0087FF;
    }
}

html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 10px;
}

#logo {
    height: 200px;
    img {
        max-height: 100%;
    }
}

* {
    box-sizing: border-box;
}
h1 {
    margin: 20px 0;
}

#editor-title, #editor-form, #upload, #list {
    min-width: 600px;
    box-sizing: border-box;
}

#editor {
    height: 100%;
    display: none;
    flex-flow: column;
    &:has(#cryptpad-editor) {
        width: 100%;
        #editor-title {
            padding: 0 15px;
        }
    }
    #cryptpad-editor {
        border: 0;
    }
    #editor-container {
        flex: 1;
        width: 100%;
        &:empty {
            display: none;
        }
    }
    #back {
        margin-top: -15px;
        margin-bottom: 15px;
    }
}
#state {
    display: none;
    font-style: italic;
    font-size: 0.9em;
    padding-left: 15px;
    padding-bottom: 5px;
    margin-top: -10px;
}
#share {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 5px 0;
    input {
        margin: 0 0 0 10px;
        flex: 1;
        min-width: 0;
        max-width: 600px;
    }
}

body.editor {
    #editor {
        display: flex;
    }
    &:has(#cryptpad-editor) {
        padding-top: 0;
        #logo {
            display: none;
        }
        #state {
            display: block;
            &:empty {
                display: none;
            }
        }
        #back {
            position: absolute;
            right: 15px;
            top: 0;
            height: 78px;
            line-height: 68px;
            margin: 0;
        }
    }
}

#list {
    display: none;
    flex-flow: column;
    align-items: baseline;
    min-width: 800px;
    &:has(#list-all:empty) {
        display: none;
    }
    #list-all {
        width: 100%;
        table {
            width: 100%;
            td:not(:first-child) {
                text-align: center;
            }
        }
        .file-dl {
            border: 0;
            background: transparent;
            cursor: pointer;
            &:hover, &:active, &:focus {
                filter: invert(51%) sepia(53%) saturate(7335%) hue-rotate(192deg);
            }
        }
        .download-icon {
            height: 32px;
        }
    }
}

#upload {
    display: none;
    flex-flow: column;
    align-items: baseline;
}
body.upload {
    #upload, #list {
        display: flex;
    }
}

input, textarea {
    margin-bottom: 0.5em;
    height: 32px;
    padding: 0;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    line-height: 32px;

    color: #424242;
    background-color: #F5F5F5;
    border-color: #0087FF;
}
textarea {
    line-height: unset;
    height: 128px;
}
button:not(.file-dl) {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #0087FF;
    border: 0;
    padding: 8px 6px;
    border: 0px;
    width: auto;
    font-size: 16px;
    border-radius: 5px;
    &:hover, &:active, &:focus {
        background-color: #006ccc;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #212121;
        color: #EEEEEE;
        a {
            color: #99cfff;
        }
        input, textarea {
            color: #EEEEEE;
            background-color: #616161;
            border-color: #99cfff;
        }
        .download-icon {
            filter: invert(1);
        }
    }
}

#main-list {
    padding: 0;
    font-size: 18px;
    li {
        padding: 10px 0;
    }
}
